@use "tailwindcss";

@layer base {
  :root {
    --background: 0 0 99%;
    --foreground: 222.2 84% 4.9%;
    --primary: 0 3% 94%;
    --secondary: 0 0 98%;
    --third: 210 17% 98%;
    --plus: 201 100% 36%;
  }

  .dark {
    --background: 0 0 17%;
    --foreground: 210 40% 98%;
    --primary: 0 4% 9%;
    --secondary: 0 0 13%;
    --third: 0 0 13%;
    --plus: 145 98% 47%;
  }

  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))] transition-colors duration-300;
  }

  html[dir="rtl"] {
    text-align: right;
  }

  html[dir="ltr"] {
    text-align: left;
  }
}
